.product-card {
  width: 1247px;
  height: 586px;
  background-color: white;
  left: calc(50% + 30px);
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 6;
  box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
}
.product-card .np-close {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  float: right;
}
.product-card .np-close:before {
  content: "";
  width: 13px;
  height: 2px;
  top: 8px;
  border-radius: 2px;
  right: 2px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg);
}
.product-card .np-close:after {
  content: "";
  top: 8px;
  width: 13px;
  border-radius: 2px;
  height: 2px;
  right: 2px;
  background-color: #333333;
  position: absolute;
  transform: rotate(-45deg);
}
.product-card .np-close:hover {
  opacity: 0.5;
}
.product-card .save-btn {
  position: relative;
  margin-right: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  padding: 0;
  float: right;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 300;
}
.product-card .save-btn:hover {
  opacity: 0.5;
}
.product-card .save-btn:before {
  content: "";
  height: 2px;
  width: 14px;
  position: absolute;
  background-color: black;
  left: 0;
  top: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  border-radius: 5px;
}
.product-card .save-btn:after {
  content: "";
  height: 2px;
  width: 8px;
  position: absolute;
  background-color: black;
  left: -4px;
  top: 7px;
  border-radius: 5px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
}
.product-card .attr-block {
  width: 820px;
  margin-left: 40px;
}
.product-card th,
.product-card td {
  padding: 0;
}
.product-card table td {
  height: 24px;
}
.product-card table td:first-child {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 24px;
  min-width: 79px;
  padding-right: 27px;
}
.product-card table td:last-child {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}
.product-card .header-text {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
  height: 24px;
  margin-bottom: 7px;
}
.product-card .header-text:before {
  content: "";
  width: 147px;
  height: 1px;
  position: absolute;
  background-color: black;
  top: 21px;
  left: 0;
}
.product-card .btn-product-menu {
  position: relative;
  width: max-content;
  padding-right: 16px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.product-card .btn-product-menu .icons {
  position: relative;
  font-size: 16px;
}
.product-card .btn-product-menu img {
  position: relative;
  top: 3px;
}
.product-card .btn-product-menu .icons {
  position: relative;
  top: 3px;
}
.product-card .btn-product-menu:hover {
  opacity: 0.5;
}
.product-card .btn-product-menu:after {
  background-image: url("../../img/arrow-down.svg");
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  right: 1px;
  top: 9px;
  opacity: 0.8;
}
.product-card .addImg {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}
.product-card .addImg img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.product-card .addImg input {
  display: none;
}
.product-card .addImg:first-child {
  margin-left: 0;
}
.product-card .platform-block .header-text {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}
.product-card .platform-block .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  margin-top: 41px;
  margin-bottom: -2px;
  margin-right: 0px;
  transition: 0.2s;
  border-radius: 5px;
}
.product-card .platform-block .simplebar-track.simplebar-vertical.show-scroll {
  opacity: 1;
}
.product-card .platform-block .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.product-card .platform-block .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.product-card .platform-block .simplebar-content-wrapper {
  padding: 0;
}
.product-card .info-warehouse-card svg {
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.product-card-podlozhka {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  position: absolute;
}