<div class="modul-np">
    <div class="wrapper-np">
        <div class="np-header"><span class="np-header-text">Налаштування модуля: Нова Пошта</span><button class="np-close"></button></div>
        <div class="np-logo"><img class="np-img" src="img/logo_NP.svg" alt=""></div>
        <table class="user-name-cab">
            <tr>
                <td>Активний ключ АРI:</td>
                <td>
                    <div class="dropMenu">
                        <div class="btn-menu">Олена (ghjiouohlhlhlh34wа...</div>
                        <ul class="block-menu user-np" data-simplebar="" data-simplebar-auto-hide="false">
                            <li class="menu-list menu-select-filter">Олена (ghjiouohlhlh4wа...</li>
                            <li class="menu-list">Олена (ghjiouohlhlwа...</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjiowа.32..</li>
                            <li class="menu-list">Олена (ghjh34wа...</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <div class="np-body">
            <div class="np-default-setting">
                <div class="np-default-header header-style">
                    <div class="defaultMeaning np-tooltip">Значення ТТН (за замовчув-ям)</div>
                </div>
                <table class="np-ttn-default">
                    <tr>
                        <td>Відправник:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Спересенко Олена Володло...</div>
                                <ul class="block-menu vidpravnik-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Спересенко Олена Володло...</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Назва мiста вiдправки:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Євгеніка</div>
                                <ul class="block-menu mistoVidpravnika-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Євгеніка</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Відділення вiдправки:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Пункт приймання-видачі (до...</div>
                                <ul class="block-menu viddilenyaVidpravnika-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Пункт приймання-видачі (до...</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Технологія доставки:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Відділення-Відділення</div>
                                <ul class="block-menu tehnologiyaDostavky-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Відділення-Відділення</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип доставки:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Посилка</div>
                                <ul class="block-menu tipDostavki-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Посилка</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Платник відправлення:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Відправник</div>
                                <ul class="block-menu platnik-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Відправник</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Платник зворотної до... :</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Відправник</div>
                                <ul class="block-menu platnikZvorot-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Відправник</li>
                                    <li class="menu-list">Євгеніка</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип оплати:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Переказ коштів відправнику</div>
                                <ul class="block-menu tipOplaty-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Переказ коштів відправнику</li>
                                    <li class="menu-list">Євгеніка</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Форма сплати:</td>
                        <td>
                            <div class="dropMenu">
                                <div class="btn-menu">Готівка</div>
                                <ul class="block-menu formaSpalti-np" data-simplebar="" data-simplebar-auto-hide="false">
                                    <li class="menu-list menu-select-filter">Готівка</li>
                                    <li class="menu-list">Євгеніка</li>
                                    <li class="menu-list">Євгеніка</li>
                                    <li class="menu-list">Даша</li>
                                    <li class="menu-list">Маша</li>
                                    <li class="menu-list">Гусь</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Відправ-ня не в коробці</td>
                        <td class="switches">
                            <span class="switch-btn">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider2 round"></span>
                            </label>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="np-change-order">
                <div class="np-auto-header header-style">
                    <div class="btn-auto-order btn-np-select">
                        <span class="button-order autoBackOrder np-tooltip">Автоматический возврат заказов</span>
                        <span class="switches">
                        <span class="switch-btn">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider2 round"></span>
                        </label>
                        </span>
                        </span>
                    </div>
                    <div class="btn-auto-status">
                        <span class="button-status autoChangeStatus np-tooltip">Автоматическая смена статусов</span>
                        <span class="switches">
                <span class="switch-btn">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider2 round"></span>
                        </label>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="np-scroll">
                    <table class="np-auto-order">
                        <tr>
                            <th class="ostalosDney np-tooltip">Осталось дней:</th>
                            <th class="primenyatK np-tooltip">Применять к статусу:</th>
                            <th></th>
                        </tr>
                        <tr class="stroke-np-order">
                            <td>
                                <div class="dropMenu">
                                    <div class="btn-menu day-last">1 день до платного хранения</div>
                                    <ul class="block-menu ostalosDney-np" data-simplebar="" data-simplebar-auto-hide="false">
                                        <li class="menu-list menu-select-filter">1 день до платного хранения</li>
                                        <li class="menu-list">2 дня до платного хранения</li>
                                        <li class="menu-list">3 дня до платного хранения</li>
                                        <li class="menu-list">4 дня до платного хранения</li>
                                        <li class="menu-list">5 дней до платного хранения</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="dropFilter">
                                    <div class="btn-menu-filter primenyat-k1"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                    </div>
                                    <ul class="block-menu-filter ostalosDney-np" data-simplebar="" data-simplebar-auto-hide="false">
                                        <li class="menu-list-filter menu-select-filter"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-2"><span class="color-515151 color-form"></span><span class="btn-link">Новый</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-3"><span class="color-fd7777 color-form"></span><span class="btn-link">Отказ</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-4"><span class="color-e2d317 color-form"></span><span class="btn-link">Отправлен</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-5"><span class="color-c6b922 color-form"></span><span class="btn-link">Передан</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-6"><span class="color-928c42 color-form"></span><span class="btn-link">Упакован</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-7"><span class="color-2c8b11 color-form"></span><span class="btn-link">Деньги получены</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-8"><span class="color-00CC00 color-form"></span><span class="btn-link">Завершён</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-9"><span class="color-da291c color-form"></span><span class="btn-link">Возврат (в пути)</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-10"><span class="color-FF0000 color-form"></span><span class="btn-link">Возврат (завершён)</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td><button class="np-delete"></button></td>
                        </tr>
                    </table>
                    <table class="np-auto-status">
                        <tr>
                            <th class="statusMail np-tooltip">Статус почтовой службы:</th>
                            <th class="statusCRM np-tooltip">Статус в CRM:</th>
                            <th class="primenyatK2 np-tooltip">Применять к статусу:</th>
                            <th></th>
                        </tr>
                        <tr class="stroke-np-status">
                            <td>
                                <div class="dropMenu">
                                    <div class="btn-menu day-last">Нова пошта оч1</div>
                                    <ul class="block-menu status-np" data-simplebar="" data-simplebar-auto-hide="false">
                                        <li class="menu-list menu-select-filter">Нова пошта оч1</li>
                                        <li class="menu-list">Нова пошта оч2</li>
                                        <li class="menu-list">Нова пошта оч3</li>
                                        <li class="menu-list">Нова пошта оч4</li>
                                        <li class="menu-list">Нова пошта оч5</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="dropMenu">
                                    <div class="btn-menu status-crm-btn"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                    </div>
                                    <ul class="block-menu status-crm" data-simplebar="" data-simplebar-auto-hide="false">
                                        <li class="menu-list menu-select-filter"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-2"><span class="color-515151 color-form"></span><span class="btn-link">Новый</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-3"><span class="color-fd7777 color-form"></span><span class="btn-link">Отказ</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-4"><span class="color-e2d317 color-form"></span><span class="btn-link">Отправлен</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-5"><span class="color-c6b922 color-form"></span><span class="btn-link">Передан</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-6"><span class="color-928c42 color-form"></span><span class="btn-link">Упакован</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-7"><span class="color-2c8b11 color-form"></span><span class="btn-link">Деньги получены</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-8"><span class="color-00CC00 color-form"></span><span class="btn-link">Завершён</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-9"><span class="color-da291c color-form"></span><span class="btn-link">Возврат (в пути)</span></span>
                                        </li>
                                        <li class="menu-list"><span class="s-10"><span class="color-FF0000 color-form"></span><span class="btn-link">Возврат (завершён)</span></span>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="dropFilter">
                                    <div class="btn-menu-filter primenyat-k-btn"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                    </div>
                                    <ul class="block-menu-filter primenyat-k" data-simplebar="" data-simplebar-auto-hide="false">
                                        <li class="menu-list-filter menu-select-filter"><span class="s-1"><span class="color-91d100 color-form"></span><span class="btn-link">Принят</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-2"><span class="color-515151 color-form"></span><span class="btn-link">Новый</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-3"><span class="color-fd7777 color-form"></span><span class="btn-link">Отказ</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-4"><span class="color-e2d317 color-form"></span><span class="btn-link">Отправлен</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-5"><span class="color-c6b922 color-form"></span><span class="btn-link">Передан</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-6"><span class="color-928c42 color-form"></span><span class="btn-link">Упакован</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-7"><span class="color-2c8b11 color-form"></span><span class="btn-link">Деньги получены</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-8"><span class="color-00CC00 color-form"></span><span class="btn-link">Завершён</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-9"><span class="color-da291c color-form"></span><span class="btn-link">Возврат (в пути)</span></span>
                                        </li>
                                        <li class="menu-list-filter"><span class="s-10"><span class="color-FF0000 color-form"></span><span class="btn-link">Возврат (завершён)</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td><button class="np-delete"></button></td>
                        </tr>
                    </table>
                    <button class="add-new-np"></button>
                </div>

            </div>
        </div>
        <div class="np-footer"><button class="instruction-modul">Инструкция к модулю</button><button class="save-btn">Зберегти</button></div>
    </div>
</div>