body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: pink;
	overflow: hidden;
}

html { 
	line-height: 1.15;
	width: 100%;
	height: 100%;
}
@keyframes delay-status {
	0% {
		opacity: 0;
		visibility: visible;
	}
	60% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-header {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-resize {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-another {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-btn {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-btn-copy {
	0% {
		opacity: 1;
		visibility: visible;
	}
	80% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: visible;
	}
}

.text-tooltip {
	font-size: 12px;
	display: inline-block;
	margin-top: 7px;
}
#tooltipBtn {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	user-select: none;
	background-color: rgba(81, 81, 81, 0.6);
	border-radius: 3px;
	top: 0;
	left: 0;
	font-size: 12px;
	color: white;
	font-weight: 300;
	padding: 4px 5px;
	text-align: left;
	z-index: 999 !important;
	word-break: break-word;
	white-space: normal;
	width: max-content;
	max-width: 300px;
	backdrop-filter: blur(4px);
	
}

#tooltipBtn div:not(.img-tooltip) {
	display: block !important;
}
#tooltipBtn .findUnderline {
	background: #FFE600;
    color: black;
}
/* .icon-2:before {
    color: white;
    font-size: 10px;
}
.img-product {
    width: 300px;
    height: 300px;
    left: 100px;
    z-index: 99;
    margin: 5px 0;
    transition: 0.3s;
    // opacity: 0;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.img-product-x200 {
    width: 200px;
    height: 200px;
    left: 100px;
    z-index: 99;
    margin: 5px 0;
    transition: 0.3s;
    // opacity: 0;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icon-Vector-81:before {
    transform: rotate(-90deg);
    position: absolute;
    font-size: 11px;
}
.idProduct {
    font-weight: 400;
}
.cenaProduct {
    font-weight: 400;
} */
