body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: pink;
	overflow: hidden;
}

html { 
	line-height: 1.15;
	width: 100%;
	height: 100%;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'W_font' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 13px;
  font-size: 13px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Tablet:before {
  content: "\71";
  color: #9c9b9e;
}

.icon-2:before {
  content: "\77";
  color: #9c9b9e;
}

.icon-1:before {
  content: "\61";
  color: #9c9b9e;
}

.icon-Exclude:before {
  content: "\47";
  color: #9c9b9e;
}

.icon-Exclude-2:before {
  content: "\33";
}

.icon-ukrposhta:before {
  content: "\35";
  color: #ffc627;
}

.icon-Union:before {
  content: "\36";
  color: #9c9b9e;
}

.icon-Union-1:before {
  content: "\37";
  color: #229fff;
}

.icon-Union-2:before {
  content: "\38";
  color: #9c9b9e;
}

.icon-Union-3:before {
  content: "\39";
  color: #da291c;
}

.icon-Union-4:before {
  content: "\30";
}

.icon-Union-12:before {
  content: "\69";
  color: #9c9b9e;
}

.icon-Union-13:before {
  content: "\6f";
  color: #9c9b9e;
}

.icon-Union-14:before {
  content: "\70";
  color: #9c9b9e;
}

.icon-Union-15:before {
  content: "\65";
  color: #9c9b9e;
}

.icon-Union-16:before {
  content: "\73";
  color: #9c9b9e;
}

.icon-Union-17:before {
  content: "\64";
  color: #9c9b9e;
}

.icon-Union-18:before {
  content: "\66";
  color: #e60000;
}

.icon-Vector-81:before {
  content: "\7a";
}

.icon-Vector:before {
  content: "\78";
}

.icon-Vector-1:before {
  content: "\63";
  color: #e60000;
}

.icon-Vector-2:before {
  content: "\76";
  color: #104eff;
}

.icon-Vector-3:before {
  content: "\62";
  color: #fabb0b;
}

.icon-Vector-9:before {
  content: "\52";
  color: #9c9b9e;
}

.icon-Vector-10:before {
  content: "\54";
  color: #9c9b9e;
}

.icon-Vector-11:before {
  content: "\59";
  color: #9c9b9e;
}

.icon-Vector-12:before {
  content: "\55";
  color: #9c9b9e;
}

.icon-Vector-13:before {
  content: "\49";
  color: #9c9b9e;
}

.icon-Vector-14:before {
  content: "\4f";
  color: #9c9b9e;
}

.icon-Vector-15:before {
  content: "\50";
  color: #9c9b9e;
}

.icon-Vector-16:before {
  content: "\41";
  color: #9c9b9e;
}

.icon-Vector-17:before {
  content: "\53";
  color: #9c9b9e;
}

.icon-Vector-18:before {
  content: "\44";
  color: #9c9b9e;
}

.icon-Vector-19:before {
  content: "\46";
  color: #9c9b9e;
}

.icon-Vector-21:before {
  content: "\48";
  color: #9c9b9e;
}

.icon-Windows-1:before {
  content: "\5c";
  color: #9c9b9e;
}

.icon-uniE941:before {
  content: "\2f";
  color: #9c9b9e;
}
@keyframes delay-status {
	0% {
		opacity: 0;
		visibility: visible;
	}
	60% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-header {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-resize {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-another {
	0% {
		opacity: 0;
		visibility: visible;
	}
	50% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-btn {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes delay-btn-copy {
	0% {
		opacity: 1;
		visibility: visible;
	}
	80% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: visible;
	}
}

.text-tooltip {
	font-size: 12px;
	display: inline-block;
	margin-top: 7px;
}
#tooltipBtn {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	user-select: none;
	background-color: rgba(81, 81, 81, 0.6);
	border-radius: 3px;
	top: 0;
	left: 0;
	font-size: 12px;
	color: white;
	font-weight: 300;
	padding: 4px 5px;
	text-align: left;
	z-index: 999 !important;
	word-break: break-word;
	white-space: normal;
	width: max-content;
	max-width: 300px;
	backdrop-filter: blur(4px);
	
}

#tooltipBtn div:not(.img-tooltip) {
	display: block !important;
}
#tooltipBtn .findUnderline {
	background: #FFE600;
    color: black;
}
/* .icon-2:before {
    color: white;
    font-size: 10px;
}
.img-product {
    width: 300px;
    height: 300px;
    left: 100px;
    z-index: 99;
    margin: 5px 0;
    transition: 0.3s;
    // opacity: 0;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.img-product-x200 {
    width: 200px;
    height: 200px;
    left: 100px;
    z-index: 99;
    margin: 5px 0;
    transition: 0.3s;
    // opacity: 0;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icon-Vector-81:before {
    transform: rotate(-90deg);
    position: absolute;
    font-size: 11px;
}
.idProduct {
    font-weight: 400;
}
.cenaProduct {
    font-weight: 400;
} */
